.notification-popup {
  @include window;
  min-width: 25rem;
  // inset: 0;

  & .notification-close {
    // @include hover($surface);
  }

  & .notification-action {
    // @include hover($surfaceContainer);
  }
}
